#search_item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    margin-top: 10px;
    border-radius: 2px;

}


#search_item div.item_txt_img {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 153px;
}

#search_item div.item_txt_img .item_txt_divimg {
    border-radius: 5px;
    margin-top: 5px;
    width: 85%;
    height: 80%;
    color: gray;
}

#search_item div.item_txt_img img {
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}

#search_item .item_txt_top {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    color: #001000;
    margin: 10px 10px;
    margin-left: 0;
    line-height: 26px;
    font-size: 20px;
}

#search_item .item_txt_bottom {
    width: 40vw;
    margin: 10px 10px;
    margin-left: 0;
    text-indent: 2em;


}