#LeftItemList {
    width: 180px;
    border-radius: 3px;
    background-color: white;
}

#LeftItemList .itemt_title {
    height: 30px;
    border-left: 3px solid white;
    text-indent: 1em;
    margin: 10px 0;
    line-height: 30px;
    font-size: 13px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}